{% extends "_base.html" %}


{% block content %}
<div class="row">
    <h2 style="text-align:center">Configure Model</h2>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <form class="form" action="{{ url_for('confmodels') }}" method="post">
            {{ form.csrf_token }}

            <!-- Exoeriment's Name -->
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form.expnme.label }}
                    {{ form.expnme(class="form-control", placeholder="Experiment's Name") }}
                </div>

                <!-- Total Time of Simulations -->

                <div class="form-group col-md-4">
                    {{ form.timmax.label }}
                    {{ form.timmax(type="number", min="00", max="59", class="form-control",
                        placeholder="Duration of experiment") }}
                </div>

                <div class="form-group col-md-4">
                    {{ form.timeunit.label }}
                    {{ form.timeunit(class="form-control")  }}
                </div>
            </div>



            <!-- Integration Time -->
            <div class="row">

                <div class="form-group col-md-4">
                    {{ form.inttime.label }}
                    {{ form.inttime(type="number", min="0000", max="9999", class="form-control",
                        placeholder="i.e. 150") }}
                </div>

            <!-- Initial date -->
            <!-- Initial hour -->

                <div class="form-group col-md-4">
                    {{ form.initdate.label }}
                    {{ form.initdate(id="datepicker", class="form-control", placeholder="MM/DD/YYYY") }}
                </div>
                <div class="form-group col-md-4">
                    <label><strong>Initial Hour</strong></label>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.inithour(type="number", min="00", max="23", class="form-control") }}

                        </div>
                        <div class="col-md-6">
                            {{ form.initminute(type="number", min="00", max="59", class="form-control")}}

                        </div>
                    </div>

                </div>

            </div>



            <h2 style="text-align:center"><b>Vertical Grid</b></h2>

            <!-- Center and Pole -->



            <!-- Number of points on area -->
            <div class="row">

                <div class="form-group col-md-4">
                    <label><strong>Center Coor</strong></label>

                    {{ form.centlat(id="centlat", class="form-control", placeholder="Latitude") }}
                    {{ form.centlon(id="centlon", class="form-control", placeholder="Longitude") }}
                </div>


                <div class="form-group col-md-4">
                    <label><strong>Number of Points per Area</strong></label>
                    {{ form.nnxp(type="number", min="001", max="999", class="form-control",
                        placeholder="Number of Points in X direction") }}
                    {{ form.nnyp(type="number", min="001", max="999", class="form-control",
                        placeholder="Number of Points in Y direction") }}
                </div>

                <!-- Distance per point (meters, accept only integer values) -->
                <div class="form-group col-md-4">
                    <label><strong>Distance per Point (m)</strong></label>
                    {{ form.deltax(type="number", min="0001", max="9999", class="form-control",
                        placeholder="Distance per Points in X direction") }}
                    {{ form.deltay(type="number", min="0001", max="9999", class="form-control",
                        placeholder="Distance per Points in Y direction") }}
                </div>

                <div class="row">
                    <div id="map" class="col-md-12" name="mapselector"></div>
                </div>
            </div>

            <!-- Map -->


            <button class="btn btn-primary col-md-12 col-xs-12" type="submit" value="Save">Save</button>



        </form>
    </div>
</div>



{% endblock %}
